version: '3.8'

services:
  workspace:
    build: ./docker
    tty: true
    container_name: workspace-php
    volumes:
      - ./:/var/www
    working_dir: /var/www
    command: "/init/init.sh"
    depends_on:
      - carepet-scylla1
      - carepet-scylla2
      - carepet-scylla3
    networks:
      - php
  carepet-scylla1:
    image: scylladb/scylla
    container_name: carepet-scylla1
    command: --smp 1
    environment:
      - "SCYLLA_JMX_ADDR=-ja 0.0.0.0"
      - "SCYLLA_JMX_REMOTE=-r"
    expose:
      - "7199"
    networks:
      php:
        ipv4_address: 10.10.5.2
  carepet-scylla2:
    image: scylladb/scylla
    container_name: carepet-scylla2
    command: --smp 1 --seeds=carepet-scylla1
    environment:
      - "SCYLLA_JMX_ADDR=-ja 0.0.0.0"
      - "SCYLLA_JMX_REMOTE=-r"
    expose:
      - "7199"
    networks:
      php:
        ipv4_address: 10.10.5.3
  carepet-scylla3:
    image: scylladb/scylla
    container_name: carepet-scylla3
    command: --smp 1 --seeds=carepet-scylla1
    environment:
      - "SCYLLA_JMX_ADDR=-ja 0.0.0.0"
      - "SCYLLA_JMX_REMOTE=-r"
    expose:
      - "7199"
    networks:
      php:
        ipv4_address: 10.10.5.4
volumes:
  laravel-cassandra-storage:
networks:
  php:
    name: php
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.5.0/24
          gateway: 10.10.5.1
    driver_opts:
      com.docker.network.bridge.name: php